.contactContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contactSection {
    text-align: center;
}
.contactHeader h2 {
    margin-bottom: 30px;
}
.contactHeader p {
    color: #5D5E5E;
    font-size: 18px;
}
.contactForm {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.contactEmail {
    width: 60%;
    height: 60px;
    padding: 5px 30px;
    color: gray;
    border: none;
    box-shadow: 0px 0px 10px 0px lightgrey;
    margin-top: 40px;
}
.contactSubmitBtn {
    position: absolute;
    right: 21%;
    height: 50px;
    top: 45px;
    border: none;
    border-radius: 5px;
    padding: 2px 24px;
    width: 150px;
}
@media (max-width: 767px) {
    .contactEmail {
        width: 100%;
    }
    .contactSubmitBtn {
        width: 100px;
        right: 1%;
        padding: 2px 5px;
    }
}