.siteLogo img {
    max-width: 100%;
    width: 40%;
}

.footerListGroup li{
    list-style: none;
    color: #919493;
    font-size: 18px;
    font-weight: 500;

}

@media (max-width: 767px){
    .footerListGroup li{
        text-align: center;
    }
    .siteLogo img {
        display:block;
        margin:0 auto;
    }
    .socialLogo {
        display: flex;
        justify-content: center;
    }
}
